[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "portmidi"]
	path = portmidi
	url = https://github.com/PortMidi/portmidi
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
