[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "portmidi"]
	path = portmidi
	url = https://github.com/PortMidi/portmidi
